.DS_Store
.git/
.vs_code/

data/Edit.jl
data/scratch*.jl
data/datasources/
data/outputs/
data/old/
data/old/readfiles

docs/build/

src/datastream/

src/parse/generated/
src/parse/scratch/
src/parse/utils/generate_structs.jl

tests/scratch*.jl