# .gitignore
.DS_Store
.git/
.vscode/

admin/
data/
dev/
calibrate/


Manifest.toml

docs/build/

src/datastream/

# src/parse/generated_check/
# src/parse/generated_edit/
# src/parse/generated_load/
src/parse/scratch/
src/parse/utils/generate_structs.jl

model/data_temp/*.csv

src/parse/scratch/
src/parse/utils/generate_structs.jl

# tests/scratch*.jl